
/* remove default broweser settings */

* {
    border: none;
    margin: 0;
    padding: 0;
    color: silver;
}

body {
    background-color: rgb(58, 56, 56);
}

header {
    margin: 25px 10px 75px 10px;
}

header h1 {
    font-size: 300%;
    float: left;
    display: block;
    margin-left: 30px
}

/* hero image style */

#hero-holder {
    width: 100%;
    height: 300px;
    background: url(../images/night-sky.jpg) no-repeat center center;
    background-size: cover;
}

/* navigation styling */

#nav-list {
    font-size: 25px;
}

#nav-list > li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#nav-list a {
    text-decoration: none;
    color: inherit;
}

#nav-list a:hover {
    border-color: rgb(58, 56, 56);
    border: 1px solid;
}

#nav-list li, header h1 {
    line-height: 75px;
}

/* section general */

section {
    height: 1200px;
    margin: 10px 10px 5px 10px;
    background-color: #3c3c3c;
    border: 1px solid rgb(76 76 76);
    border-radius: 1%;
    text-align: center;
    /* width: 100%; */
    overflow: hidden;
}

/* about style */

#about-sec {

}

#about-sec > h2 {
    font-size: 190%;
    margin: 10px;
    text-align: center;
}

#about-sec > div {
    padding: 5px;
    width: 100%;
    height: 85%;
    text-align: center;
    font-size: 120%;
    box-sizing: border-box;
}

#about-left-img, #about-right-text {
    width: 50%;
    height: 100%;
}

#about-left-img {
    float: left;
    background: url(../images/fairing-release.webp) no-repeat center center;
    background-size: cover;
}

#about-right-text {
    float: right;
}

#about-right-text p {
    margin: 20px;
}

/* timeline style */

#timeline-sec {

}

/* signup form style */

#signup-form-sec {

}

/* footer style */

footer {
    height: 200px;
    background-color: #3c3c3c;
    border: 10px solid rgb(76 76 76);
    text-align: center;
    width: 100%;
    overflow: hidden;
}

@media screen and (max-width: 1200px) {

    #nav-list {
        float: left;
        clear: left;
        margin-left: 30px;
        margin-bottom: 20px;

    }

    #nav-list li, header h1 {
        line-height: 25px;
    }

    section, footer {
        width: 100%;
        height: 1200px;
        margin: 10px 10px 10px 10px;
    }

    #about-left-img, #about-right-text {
        float: left;
        width: 100%;
        height: 50%;
        padding: 0;
    }

}